
{{#link-to 'index' id="app-bar-logo"}}{{/link-to}}


{{#if windowIsSmall}}
  <div id="app-bar-menu-toggle" >
    <button type="button" {{action "toggleMenu"}}>
      <i class="fa fa-bars" id="app-bar-menu-icon"></i>
    </button>
  </div>
  {{#if menuIsVisible class="menuIsVisible"}}
    <div id="app-bar-menu-list" {{action "toggleMenu"}}>
      {{yield}}
    </div>
  {{/if}}
{{else}}
  <div id="app-bar-nav">
    <div class="app-bar-float-container">
      {{yield}}
    </div>

  </div>
{{/if}}
