<main id="membershipSignup">

  <h1>How to Become a Robotics Club Member</h1>

  <section>
    <h1>Step 1: Submit a Membership Request</h1>
    <p>
      Fill out this form to submit a membership request. This will also sign
      you up to our newsletter to help you stay updated.
    </p>

    {{#unless isSubmitted}}

    <form class="signup-form" {{action 'submitForm' on="submit"}}>
      <div class="signup-form-item">
        <label>Name</label>
        {{input placeholder="i.e. John Snow" value=name}}
      </div>
      <div class="signup-form-item">
        <label>EUID</label>
        {{input placeholder="i.e. js0123" value=euid}}
      </div>
      <div class="signup-form-item">
        <label>Email</label>
        {{input placeholder="i.e johnsnow@my.unt.edu" value=email}}
      </div>
      <button type="submit">Sign Up</button>
    </form>

    {{else}}
      <div class="signup-form-response">
        <h1>
          Thanks {{name}} for submitting! Hope to see you at our meetings!
        </h1>
        <i class="fa fa-smile-o" aria-hidden="true"></i>
      </div>

    {{/unless}}
  </section>

  <section>
    <h1>Step 2: Come Check Us Out on Campus!</h1>
    <p>
      We meet nearly every Friday at 7:30 PM. We are located in the Senior
      Design Lab (Room F260) at Discovery Park. Check out our
      {{#link-to 'calendar'}}calendar{{/link-to}} to find out when we exactly meet.
    </p>
    <img src="/imgs/roboticsclub_map.png" alt="Robotics Club Map" />
  </section>




</main>
<footer>

</footer>
